.task-list {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100vh;
    color: black;
}

.task-list__title {
    font-size: 4rem;
    letter-spacing: 1px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.task-list__search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-list__search-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-list__header,
.task-list__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    letter-spacing: 1px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 4px;
}

.task-list__header {
    font-weight: bold;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    color: black;
}

.task-list__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: black;
}

.task-list__header-item,
.task-list__item-date,
.task-list__item-priority,
.task-list__item-description,
.task-list__item-actions {
    padding: 0 10px;
}

.task-list__item-actions button {
    margin-right: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: black;
}

.task-list__item-actions button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.task-list__item--done {
    text-decoration: line-through;
    color: rgb(252, 7, 7);
}

.task-list__item .task-list__item-actions button[disabled] {
    color: #ccc; 
    background-color: #f5f5f5; 
    border-color: #ccc; 
    cursor: not-allowed; 
}

.task-list__button-new-item {
    background: rgba(255, 255, 255, 0.2);
    color: black;
    margin-top: 2px;
    border: none;
    padding: 3px 2px;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
}

.task-list__button-new-item:hover {
    background: rgba(255, 255, 255, 0.3);
}

mat-label, mat-form-field-infix {
    color: black;
}

@media (max-width: 768px) {
    .task-list {
        padding: 10px;
        height: 100vh;
    }

    .task-list__title {
        font-size: 2rem;
    }

    .task-list__search-form {
        flex-direction: column;
        align-items: stretch;
    }

    .task-list__header,
    .task-list__item {
        grid-template-columns: 1fr;
    }

    .task-list__header-item,
    .task-list__item-date,
    .task-list__item-priority,
    .task-list__item-description,
    .task-list__item-actions {
        padding: 5px 0;
        text-align: center;
    }

    .task-list__item-actions {
        display: flex;
        justify-content: center;
    }

    .task-list__item-actions button {
        width: 100%;
        margin-bottom: 5px;
    }

    .task-list__search-container {
        flex-direction: column;
        align-items: stretch;
    }

    .task-list__button-new-item {
        width: 100%;
        margin-top: 10px;
    }
}
