* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

.form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

button {
    padding: 1px;
    background-color: rgb(146, 79, 79);
    border: none;
    border-radius: 20px;
}

.task-error-message {
    color: red;
    margin-top: 10px;
    font-size: 20px; 
    font-weight: bold;
}