<div class="add-task">
    <div class="form-container">
        <mat-form-field class="add-task__form-field example-form-field">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Enter task description" name="description" [(ngModel)]="newTask.description">
        </mat-form-field>
        <mat-form-field class="add-task__form-field example-form-field">
            <mat-label>Priority</mat-label>
            <mat-select placeholder="Select priority" name="priority" [(ngModel)]="newTask.priority">
                <mat-option value="low">Low</mat-option>
                <mat-option value="medium">Medium</mat-option>
                <mat-option value="high">High</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button (click)="onTaskAdded()">Add</button>
    </div>
    <div *ngIf="taskService.errorMessage" class="task-error-message">
        {{ taskService.errorMessage }}
    </div>
</div>
